'global':
  'exception-reporting':
    'userId': '4d9fa1e1-d2e5-98e7-3b54-f17648406393'
  'welcome':
    'showOnStartup': false
  'metrics':
    'userId': 'ff0ebfd4b3f4e52f24343b8d39a983fa8c6c55b6'
  'editor':
    'fontFamily': 'Telegrama'
    'showIndentGuide': true
    'fontSize': 13
  'autocomplete':
    'includeCompletionsFromAllBuffers': true
  'highlight-line':
    'enableSelectionBorder': true
    'hideHighlightOnSelect': true
  'autocomplete-plus':
    'autoActivationDelay': 1
    'includeCompletionsFromAllBuffers': true
  'remember-session':
    'x': 0
    'y': 48
    'width': 1920
    'height': 1032
    'treeWidth': 200
    'path': ''
    'tabs': ''
    'selectedTab': ''
  'save-session':
    'dataSaveFolder': '/home/cosmicexplorer/.atom/packages/save-session/projects'
    'windowX': 0
    'windowY': 48
    'windowWidth': 1920
    'windowHeight': 1032
    'project': '/home/cosmicexplorer/.atom'
  'core':
    'disabledPackages': [
      'shadow'
    ]
  'autoclose-html': {}
