# emacs keybindings
 '.editor':
  'ctrl-x ctrl-s': 'core:save'
  'escape ;': 'user:comment-dwim'
  'ctrl-g': 'tool-panel:unfocus'
  'ctrl-g': 'editor:consolidate-selections'
  'ctrl-g': 'core:cancel'
  'ctrl-s': 'find-and-replace:show'
  'ctrl-alt-z': 'core:redo'
  'alt-x': 'command-palette:toggle'
  'ctrl-y': 'user:yank-text'
  'ctrl-k': 'user:kill-line-or-region'
  'alt-y': 'user:increment-yank-pointer'
  'ctrl-alt-y': 'user:decrement-yank-pointer'
  'shift-ctrl-alt-y': 'user:reset-yank-pointer'
  'ctrl-up': 'user:backward-paragraph'
  'ctrl-down': 'user:forward-paragraph'
