# emacs keybindings
  '.editor':
    'ctrl-x ctrl-s': 'core:save'
    'escape ;': 'user:comment-dwim'
    'ctrl-g': 'tool-panel:unfocus' # not sure if works
    'ctrl-g': 'editor:consolidate-selections' # doesn't work
    'ctrl-g': 'core:cancel'
    'ctrl-s': 'find-and-replace:show'
    'ctrl-x o': 'find-and-replace:show'
    'ctrl-x f': 'project-find:show'
    'ctrl-alt-z': 'core:redo'
    'alt-x': 'command-palette:toggle'
    'ctrl-y': 'user:yank-text'
    'ctrl-k': 'user:kill-line-or-region'
    'alt-y': 'user:increment-yank-pointer'
    'ctrl-alt-y': 'user:decrement-yank-pointer'
    'shift-ctrl-alt-y': 'user:reset-yank-pointer'
    'ctrl-up': 'user:backward-paragraph'
    'ctrl-down': 'user:forward-paragraph'
    'ctrl-x k': 'core:close'
    'ctrl-x ctrl-f': 'fuzzy-finder:toggle-file-finder'
    'ctrl-x b': 'fuzzy-finder:toggle-buffer-finder'
    'ctrl-x up': 'pane:split-up'
    'ctrl-x down': 'pane:split-down'
    'ctrl-x left': 'pane:split-left'
    'ctrl-x right': 'pane:split-right'
    'ctrl-alt-right': 'window:focus-pane-on-right'
    'ctrl-alt-left': 'window:focus-pane-on-left'
    'ctrl-alt-up': 'window:focus-pane-above'
    'ctrl-alt-down': 'window:focus-pane-below'
    'ctrl-x ctrl-m': 'minimap:toggle'
    'ctrl-x /': 'window:focus-next-pane'
    'ctrl-x p': 'pane:close'
    'ctrl-x e': 'user:expand-current-pane'
