# emacs keybindings
  'body':
    'alt-n': 'find-and-replace:select-next'
    'ctrl-x ctrl-a': 'find-and-replace:select-all'
    'escape ;': 'user:comment-dwim'
    'ctrl-y': 'user:yank-text'
    'ctrl-k': 'user:kill-line-or-region'
    'alt-y': 'user:increment-yank-pointer'
    'ctrl-alt-y': 'user:decrement-yank-pointer'
    'shift-ctrl-alt-y': 'user:reset-yank-pointer'
    'ctrl-up': 'user:backward-paragraph'
    'ctrl-down': 'user:forward-paragraph'
    'alt-g g': 'go-to-line:toggle'
    'ctrl-x e': 'user:expand-current-pane'
    'alt-x': 'command-palette:toggle'
    'ctrl-alt-z': 'core:redo'
    'ctrl-x k': 'core:close'
    'ctrl-alt-right': 'window:focus-pane-on-right'
    'ctrl-alt-left': 'window:focus-pane-on-left'
    'ctrl-alt-up': 'window:focus-pane-above'
    'ctrl-alt-down': 'window:focus-pane-below'
    'ctrl-x /': 'window:focus-next-pane'
    'ctrl-x p': 'pane:close'
    'ctrl-g': 'core:cancel'
    'ctrl-x ctrl-s': 'core:save'
    'ctrl-x up': 'pane:split-up'
    'ctrl-x down': 'pane:split-down'
    'ctrl-x left': 'pane:split-left'
    'ctrl-x right': 'pane:split-right'
    'ctrl-x ctrl-n': 'application:new-file'
    'ctrl-t': 'application:new-file'
    'ctrl-x ctrl-w': 'core:save-as'
    'ctrl-x ctrl-c ctrl-q': 'user:close'
    'ctrl-tab': 'pane:show-next-item'
    'ctrl-shift-tab': 'pane:show-previous-item'
    'alt-x': 'command-palette:toggle'
    'ctrl-x ctrl-f': 'fuzzy-finder:toggle-file-finder'
    'ctrl-s': 'find-and-replace:show'
    'ctrl-x o': 'find-and-replace:show'
    'ctrl-x f': 'project-find:show'
    'ctrl-x b': 'fuzzy-finder:toggle-buffer-finder'
    # TODO: make this work
    'escape shift-:': 'window:toggle-dev-tools'
  '.atom-text-editor':
    'ctrl-g': 'editor:consolidate-selections'
  '.atom-panel.left':
    'ctrl-g': 'tool-panel-unfocus'
  '.atom-panel-right':
    'ctrl-g': 'tool-panel-unfocus'
  '.command-palette':
    'alt-x': 'command-palette:toggle'
  '.minimap-quick-settings':
    'ctrl-x ctrl-m': 'minimap:toggle'
